/* my success work */
body{
    text-align: center;
}
/* about html */
body {
    margin: 80;
    padding-left: 40;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  .text-block {
    max-width: 200px; 
  }
.container {
    display: flex;
    align-items: flex-start;
    grid-template-columns:repeat(autofit, minmax(200px,1fr));
    grid-gap: 20px;
    margin-top: 30px;
    gap: 100px;
    border-image-width: 50;
    border-radius: 10px;
    box-sizing: border-box;
    padding-right: 50px;
}
.container div{
    padding: 50px;
    padding-right: 50px;
    font-size: 13px;
    font-weight: 200;
    border-right: 10px;
    justify-items: center;
    margin: 0;
  }
  .side-image {
width: 900px;
    height: 700px;
    padding-right: 200px;
    border: none;
  outline: none;
  box-shadow: none;
  }
  .item{
    display: flex;              
    text-align: center; 
    gap: 20px;                  
    padding: 20px;
    margin: 0px;
    border-radius: 8px;
  }
  
